/*
*/

.legal-stuff {
    text-align: center;
    font-size: 14px;
    margin: var(--page-margin) 0px;
    color: var(--ion-color-medium);
}

.legal-action {
    font-weight: 500;
    color: var(--ion-color-secondary);
    cursor: pointer;
}

ion-label {
    color: var(--ion-color-light);
}

/* ion-input {
    border: solid 1px black;
    margin-left: 0.5em;
}

ion-textarea {
    border: solid 1px black;
    margin-left: 0.5em;
} */

.paymentColSection {
    display: flex;
    .imgSection {
        padding-right: 20px;
        img {
            width: 50px;
        }
    }
}

:host {
    --page-margin: var(--app-narrow-margin);
}

@media (max-width: 576px) {
    .hide-xs {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .hide-sm {
        display: none;
    }
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.notifications-content {
    ion-item-divider {
        --background: var(--ion-color-light);
        --padding-start: var(--page-margin);
    }
    .notification-item {
        --padding-start: 0px;
        --inner-padding-end: 0px;
        padding: var(--page-margin);
        color: var(--ion-color-medium);
        box-shadow: inset 0 8px 2px -9px var(--ion-color-darkest);
        .notification-item-wrapper {
            --ion-grid-column-padding: 0px;
            width: 100%;
            align-items: center;
        }
        .details-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-left: var(--page-margin);
            .details-name {
                margin-top: 0px;
                margin-bottom: 5px;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0.2px;
                color: var(--ion-color-secondary);
            }
            .details-description {
                font-size: 12px;
                margin: 0px;
            }
        }
        .date-wrapper {
            align-self: flex-start;
            .notification-date {
                margin: 0px;
                font-size: 12px;
                text-align: end;
            }
        }
    }
}