<h2 *ngIf="showBanner" class="announcement">
  We are still in development. Please check back with us in a couple of months
  for all your service request needs. You can send us your service request needs by clicking on the [Contact Us] button.
</h2>

<h2 *ngIf="showFuneralBanner" class="announcement">
  Funeral Ghana App<br/>
  We are still in development. Please check back with us in a couple of months for all your funeral service request needs. 
  You can send us your comments on what you will like to see in a funeral services app in Ghana by clicking on the [Contact Us] button.
</h2>

<h2 *ngIf="showCommunityBanner" class="announcement">
  Your Community App<br/>
  We are still in development. Please check back with us in a couple of months for all your commuity service request needs. 
  You can send us your comments on what you will like to see in a community services app in Ghana by clicking on the [Contact Us] button.
</h2>

<h2 *ngIf="showCitiesBanner" class="announcement">
  Cities of Ghana App<br/>
  Facilitating Ghana's drive to be the world's number one tourist destination<br/>
  We are still in development. Please check back with us in a couple of months. 
  You can send us your comments on what you will like to see in a Cities in Ghana app by clicking on the [Contact Us] button.
</h2>

<h2 *ngIf="showCrowdFunding" class="announcement">
  Equity Crowd Funding App<br/>
  We are still in development. Please check back with us in a couple of months. 
  You can send us your comments on what you will like to see in an Equity Crowd Funding app by clicking on the [Contact Us] button.
</h2>

<h2 *ngIf="showBrandBanner" class="announcement">
  Your Personal Branding App<br/>
  We are still in development. Please check back with us in a couple of months. 
  You can send us your comments on what you will like to see in a personal branding app by clicking on the [Contact Us] button.
</h2>


