<ion-header translucent>
  <ion-toolbar>
    <ion-title>Links</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card class="travel-details-content">
    <ion-card-content>
      <div>
        <p *ngIf="linkList.length == 0" class="details-name">
          No record found
        </p>

        <ion-card-content
      *ngFor="let item of linkList let i = index"
      style="padding-top: 0px; padding-bottom: 0px"
    >
      <ion-item tappable (click)="openLink(item.urlink)">
        <h2 class="details-name">
          <ion-text color="facebook">
            {{i+1}} :
            <span
              [innerHTML]="item.title"
              style="text-decoration: underline"
            ></span
          ></ion-text>
        </h2>
      </ion-item>
    </ion-card-content>


      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
