<app-header ptitle="pages.search"></app-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-md="10" offset-md="1">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Filter/Search Options</ion-card-title>
                        <!-- <ion-card-subtitle>Filter/Search Options</ion-card-subtitle> -->
                        <ion-item>
                            <ion-input [(ngModel)]="srchTxt" name="srchTxt" type="text" required>
                            </ion-input>
                        </ion-item>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="searchSimpleQueryString()" type="submit" expand="block">
                    <ion-icon name="search"></ion-icon>
                    Search
                </ion-button>
            </ion-col>
       </ion-row>
        <ion-row>
            <ion-col>
                <!-- Color  options are: 
                    "primary", "secondary", "tertiary", "success", "warning", "danger", "light", "medium", and "dark"
                -->
                <ion-text color="success">
                    {{srchData}}
                </ion-text>
            </ion-col>
        </ion-row>
</ion-grid>
</ion-content>