<app-header ptitle="pages.client"></app-header>

<ion-content padding class="notifications-content">
  <ion-row>
    <div>Welcome, {{user}}</div>
  </ion-row>

  <div
    style="height: 30px"
    *ngIf="clientPropRequests.length <=0 && appId == app.OBRA"
  >
    <ion-row style="background: #d7e4ec">
      <ion-col col-12>
        <ion-label style="font-size: 12px" color="goldgreen"
          >No Request Found</ion-label
        >
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="appId == app.OBRA  && clientPropRequests.length > 0">
    <ion-list *ngFor="let request of clientPropRequests; let i = index">
      <div style="height: 30px" *ngIf="request.requestInfo.requestId">
        <ion-row style="background: #d7e4ec">
          <ion-col col-2>
            <ion-label style="font-size: 12px" color="goldgreen"
              >({{request.requestInfo.requestId}})
              {{request.requestInfo.serviceName}}</ion-label
            >
          </ion-col>
          <ion-col col-8>
            <ion-label style="font-size: 12px" color="goldgreen"
              >{{request.requestInfo.startDate | date:'MMM d yy'}} -
              {{request.requestInfo.endDate | date:'MMM d yy'}}</ion-label
            >
          </ion-col>
          <ion-col col-2>
            <ion-label style="font-size: 12px" color="goldgreen">
              {{request.requestInfo.selectedRate}}:
              {{request.requestInfo.amountRange}}
              {{request.requestInfo.currency}}
              <a *ngIf="request.numberHrs != null" ion-text color="goldgreen">
                ({{request.numberHrs}})</a
              >
            </ion-label>
          </ion-col>
        </ion-row>
      </div>

      <ion-card *ngFor="let provider of request.providers; let j = index">
        <ion-row *ngIf="provider.requestInfoProvider?.providerId">
          <ion-col col-2 class="listing-item">
            <ion-row class="description-row">
              <ion-col size="12" class="details-col">
                <ion-row class="details-wrapper">
                  <ion-col>
                    <p class="item-address">
                      <sub ion-text color="secondary">Request location</sub>
                    </p>
                    <p class="item-address">
                      <ion-text color="secondary"
                        >Full Address when awarded</ion-text
                      >
                    </p>

                    <p class="item-address">
                      <ion-text color="primary">
                        {{provider.requestInfoProvider?.serviceLocation?.cityLine}}
                        {{provider.requestInfoProvider?.serviceLocation?.statePRLine}},
                        {{provider.requestInfoProvider?.serviceLocation?.postalCode}}
                        {{provider.requestInfoProvider?.serviceLocation?.countryCode}}
                      </ion-text>
                    </p>
                    <p>
                      <sub ion-text color="blood"
                        >{{provider.requestInfoProvider?.serviceLocation?.landmark}}</sub
                      >
                    </p>

                    <p
                      class="ui-g-4"
                      *ngIf="(  provider.requestInfoProvider?.serviceRequestProviderStatus.statusNum == providerRequestSequence.CONST_REVIEW_RATE)"
                    >
                      <ion-button
                        type="button"
                        color="primary"
                        fill="solid"
                        size="default"
                        (click)="viewRequesRating($event,request.requestInfo.pqueryId,provider.requestInfoProvider.providerId,request.requestInfo.ppId)"
                      >
                        View Rating
                      </ion-button>
                    </p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row class="description-row">
              <ion-col size="12" class="details-col">
                <ion-row class="details-wrapper">
                  <ion-col>
                    <p class="item-address">
                      <app-star-rating
                        rating="request.basicProfile.rating"
                      ></app-star-rating>
                    </p>
                    <p class="item-address">
                      <a ion-text color="danger">
                        &nbsp; {{provider.basicProfile.rating}}
                      </a>
                      <a style="font-size: 11px">
                        &nbsp;{{provider.basicProfile.reviews}} Reviews
                        {{provider.basicProfile.completed}}C/{{provider.basicProfile.requests}}R</a
                      >
                    </p>
                    <p
                      class="ui-g-4"
                      *ngIf="request.requestInfo.serviceRequestStatus.statusNum == clientRequestSequence.CONST_REQUEST_COMPLETED"
                    >
                      <ion-button
                        type="button"
                        color="primary"
                        fill="solid"
                        size="default"
                        (click)="rateProvider($event,provider.requestInfoProvider.providerId,request.requestInfo.pqueryId,request.requestInfo.ppId)"
                      >
                        Rate Provider
                      </ion-button>
                    </p>
                  </ion-col>
                </ion-row>
              </ion-col></ion-row
            >
          </ion-col>

          <ion-col col-7 class="listing-item">
            <ion-row class="description-row">
              <ion-col size="12" class="details-col">
                <ion-row class="details-wrapper">
                  <ion-col>
                    <p class="item-address">
                      <ion-text color="secondary">
                        Provider Status:
                        {{provider.requestInfoProvider.serviceRequestProviderStatus.description}}
                      </ion-text>
                    </p>

                    <p class="item-address">
                      <ion-text color="goldgreen">
                        {{request.requestInfo.serviceName}}
                        ({{request.requestInfo.requestId}})
                      </ion-text>
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row class="details-wrapper">
                  <ion-col>
                    <div>
                      <span
                        *ngIf="request.requestInfo?.serviceDescription && request.requestInfo?.serviceDescription.length < DESCRIPTION_MAX_LENGTH"
                        >{{request.requestInfo?.serviceDescription}}</span
                      >
                      <span
                        *ngIf="request.requestInfo?.serviceDescription && request.requestInfo?.serviceDescription.length >= DESCRIPTION_MAX_LENGTH && !descExpanded"
                        >{{request.requestInfo?.serviceDescription.substr(0,
                        DESCRIPTION_DISPLAY_LENGTH)}}</span
                      >
                      <span
                        *ngIf="request.requestInfo?.serviceDescription && request.requestInfo?.serviceDescription.length >= DESCRIPTION_MAX_LENGTH && descExpanded"
                        >{{request.requestInfo?.serviceDescription}}</span
                      >
                      <!--  <span (click)="toggle()"
                        >{{descExpanded? ' ...show less':'...showmore'}}</span
                      > -->
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row class="details-wrapper">
                  <ion-col>
                    <div
                      class="ui-g-2"
                      *ngIf="provider.requestInfoProvider.serviceRequestProviderStatus.statusNum<providerRequestSequence.CONST_REQUEST_AWARDED"
                    >
                      <ion-button
                        type="button"
                        color="primary"
                        fill="solid"
                        size="default"
                        (click)="showBid($event, provider,request)"
                      >
                        <ion-text
                          *ngIf="provider.requestInfoProvider.serviceRequestProviderStatus.statusNum<providerRequestSequence.CONST_BID_IN_PROGRESS "
                        >
                          Bid
                        </ion-text>
                        <ion-text
                          *ngIf="provider.requestInfoProvider.serviceRequestProviderStatus.statusNum>=providerRequestSequence.CONST_BID_IN_PROGRESS  && provider.requestInfoProvider.serviceRequestProviderStatus.statusNum <= providerRequestSequence.CONST_SUBMIT_CONTRACT "
                        >
                          Rebid
                        </ion-text>

                        <ion-icon name="checkbox-outline"></ion-icon>
                      </ion-button>
                    </div>

                    <div
                      class="ui-g-4"
                      *ngIf="(provider.requestInfoProvider.serviceRequestProviderStatus.statusNum==providerRequestSequence.CONST_SUBMIT_CONTRACT  )"
                    >
                      <ion-button
                        type="button"
                        color="primary"
                        fill="solid"
                        size="default"
                        (click)="signContractDialogBox_Property(provider,request.requestInfo)"
                      >
                        Sign Contract
                        <ion-icon name="trophy"></ion-icon>
                      </ion-button>
                    </div>

                    <div
                      class="ui-g-4"
                      *ngIf="(provider.requestInfoProvider.serviceRequestProviderStatus?.statusNum==providerRequestSequence.CONST_WORK_IN_PROGRESS)"
                    >
                      <ion-button
                        type="button"
                        color="primary"
                        fill="solid"
                        size="default"
                        (click)="completedPropertyDialogBox(request.requestInfo,request.requestInfo.clientId)"
                      >
                        Completed
                        <ion-icon name="trophy"></ion-icon>
                      </ion-button>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="details-wrapper">
                  <ion-col>
                    <ion-label *ngIf="provider.requestInfoProvider.bidInfo">
                      <ion-text>
                        <a>Bid Amount : </a>
                        {{provider.requestInfoProvider.bidInfo.bidAmount}}
                      </ion-text>
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-3 class="listing-item">
            <ion-row class="image-row">
              <ion-col size="12">
                <a class="image-anchor">
                  <ion-avatar slot="start">
                    <img
                      sizes="100px"
                      class="item-picture"
                      src="{{getPicture(provider?.providerChat?.photoUrl) || defaultPicture}}"
                      alt="Avatar"
                    />
                  </ion-avatar>
                </a>
              </ion-col>
            </ion-row>

            <ion-row class="description-row">
              <ion-col size="12" class="details-col">
                <ion-row class="details-wrapper">
                  <ion-col>
                    <p class="item-address">
                      <sub ion-text color="blood"
                        >Provider: {{provider?.providerChat?.name}}</sub
                      >
                    </p>
                    <p class="item-address">
                      <sub ion-text color="blood"
                        >Reg Date: {{provider?.basicProfile?.registrationDate |
                        date:'MMM d yy'}}
                      </sub>
                    </p>

                    <p
                      class="ui-g-4"
                      *ngIf="(provider.requestInfoProvider.serviceRequestProviderStatus.statusNum >=  providerRequestSequence.CONST_SUBMIT_BID) && (provider.requestInfoProvider.serviceRequestProviderStatus.statusNum < providerRequestSequence.CONST_CHAT_IN_PROGRESS)"
                    >
                      <ion-button
                        type="button"
                        color="primary"
                        fill="solid"
                        size="default"
                        (click)="clientChat(request.requestInfo.clientId,provider.basicProfile.userId,request.requestInfo.requestId,request.requestInfo.serviceName,provider.requestInfoProvider.providerId)"
                      >
                        Chat
                        <ion-icon name="chatbubbles"></ion-icon>
                      </ion-button>
                    </p>
                  </ion-col>
                </ion-row>

                <ion-row class="details-wrapper">
                  <ion-col>
                    <p class="item-address">
                      <sub>
                        <a ion-text color="blood">Req</a>
                        {{request.requestInfo.selectedRate}}:
                        {{request.requestInfo.amountRange}}
                        {{request.requestInfo.currency}}
                      </sub>
                    </p>

                    <div
                      class="item-address"
                      *ngIf="provider.requestInfoProvider.serviceRequestProviderStatus.statusNum>=providerRequestSequence.CONST_REQUEST_AWARDED"
                    >
                      <p>
                        <sub>
                          <a ion-text color="blood">Awd</a>

                          {{request.requestInfo.awardedAmount}}
                          {{request.requestInfo.currency}}
                        </sub>
                      </p>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
  </div>

  <div *ngIf="appId != app.OBRA">
    <ion-list
      *ngFor="let request of clientRequests.clientRequests; let i = index"
    >
      <div style="height: 30px" *ngIf="clientRequests.clientRequests.length<=0">
        <ion-row style="background: #d7e4ec">
          <ion-col col-12>
            <ion-label style="font-size: 12px" color="goldgreen"
              >No Request Found</ion-label
            >
          </ion-col>
        </ion-row>
      </div>

      <div style="height: 30px" *ngIf="clientRequests.clientRequests.length>0">
        <ion-row style="background: #d7e4ec">
          <ion-col col-2>
            <ion-label style="font-size: 12px" color="goldgreen"
              >({{request.requestInfo.requestId}})
              {{request.requestInfo.serviceName}}</ion-label
            >
          </ion-col>
          <ion-col col-8>
            <ion-label style="font-size: 12px" color="goldgreen"
              >{{request.requestInfo.startDate | date:'MMM d yy'}} -
              {{request.requestInfo.endDate | date:'MMM d yy'}}</ion-label
            >
          </ion-col>
          <ion-col col-2>
            <ion-label style="font-size: 12px" color="goldgreen">
              {{request.requestInfo.selectedRate}}:
              {{request.requestInfo.amountRange}}
              {{request.requestInfo.currency}}
              <a *ngIf="request.numberHrs != null" ion-text color="goldgreen">
                ({{request.numberHrs}})</a
              >
            </ion-label>
          </ion-col>
        </ion-row>
      </div>

      <ion-card *ngFor="let provider of request.providers; let j = index">
        <ion-row>
          <ion-col col-3 class="listing-item">
            <ion-row class="description-row">
              <ion-col size="12" class="details-col">
                <ion-row class="details-wrapper">
                  <ion-col>
                    <div
                      *ngIf="provider.requestInfoProvider.providerId != null"
                    >
                      <p>
                        <ion-text>Provider</ion-text>
                      </p>
                      <p class="item-address">
                        <ion-text color="primary">
                          {{provider.basicProfile.userLocation.city}}
                          {{provider.basicProfile.userLocation.stateProvince}},
                          {{provider.basicProfile.userLocation.postalCode}}
                          {{provider.basicProfile.userLocation.countryCode}}
                        </ion-text>
                      </p>
                    </div>

                    <span
                      *ngIf="(provider.requestInfoProvider.bidInfo.bidAmount != 0.0) "
                    >
                      <p class="item-address">
                        <ion-text>
                          Bid {{provider.requestInfoProvider.bidInfo.bidRate}}:
                          {{provider.requestInfoProvider.bidInfo.bidAmount}}
                          {{request.requestInfo.currency}}
                        </ion-text>
                        <ion-text
                          *ngIf="provider.requestInfoProvider.bidInfo.numberHrs != 0.0"
                          >({{provider.requestInfoProvider.bidInfo.numberHrs}})</ion-text
                        >
                      </p>
                      <p>
                        <ion-text>
                          &nbsp;{{provider.requestInfoProvider.bidInfo.startDate
                          | date:'MMM d yy'}} -
                          {{provider.requestInfoProvider.bidInfo.endDate |
                          date:'MMM d yy'}}
                        </ion-text>
                      </p>

                      <p class="item-address">
                        <ion-text color="danger"
                          >Awrd {{ request.requestInfo.awardedRate}}:
                          {{request.requestInfo.awardedAmount}}
                          {{request.requestInfo.currency}}</ion-text
                        >
                        <sub *ngIf="request.requestInfo.awardedHrs != 0.0"
                          >({{request.requestInfo.awardedHrs}})</sub
                        >
                      </p>
                    </span>

                    <p
                      class="ui-g-4"
                      *ngIf="( request.requestInfo.serviceRequestStatus?.statusNum == clientRequestSequence.CONST_REQUEST_COMPLETED)"
                    >
                      <ion-button
                        type="button"
                        color="primary"
                        fill="solid"
                        size="default"
                        (click)="rateProvider($event,provider.requestInfoProvider.providerId,provider.requestInfoProvider.requestId,'')"
                      >
                        Rate Provider
                      </ion-button>
                    </p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-6 class="listing-item">
            <ion-row class="description-row">
              <ion-col size="12" class="details-col">
                <ion-row class="details-wrapper">
                  <ion-col>
                    <p class="item-address">
                      <ion-text color="secondary">
                        My Status:
                        {{request.requestInfo.serviceRequestStatus?.description}}
                      </ion-text>
                    </p>

                    <p class="item-address">
                      <ion-text color="secondary">
                        Provider Status:
                        {{provider.requestInfoProvider.serviceRequestProviderStatus.description
                        != null?
                        provider.requestInfoProvider.serviceRequestProviderStatus.description:request.requestInfo.serviceRequestStatus?.description}}
                      </ion-text>
                    </p>

                    <p class="item-address">
                      {{provider.requestInfoProvider.bidInfo.bidComment != null?
                      provider.requestInfoProvider.bidInfo.bidComment:''}}
                    </p>

                    <p
                      *ngIf="provider.requestInfoProvider.bidInfo.bidComment != null"
                    >
                      <br />
                      {{request.requestInfo.serviceDescription}}
                    </p>
                    <p
                      *ngIf="provider.requestInfoProvider.bidInfo.bidComment == null"
                    >
                      {{request.requestInfo.serviceDescription}}
                    </p>
                    <p *ngIf="isLongMessage(request,provider)==true">
                      <ion-item
                        button
                        (click)="setDescription(request,provider)"
                      >
                        <ion-label>
                          <ion-icon name="eye"></ion-icon> more
                        </ion-label>
                      </ion-item>
                    </p>
                  </ion-col>
                </ion-row>

                <ion-row class="details-wrapper">
                  <ion-col>
                    <p
                      class="ui-g-4"
                      *ngIf="(provider.requestInfoProvider.serviceRequestProviderStatus.statusNum >=  providerRequestSequence.CONST_SUBMIT_BID) && (provider.requestInfoProvider.serviceRequestProviderStatus.statusNum < providerRequestSequence.CONST_CHAT_IN_PROGRESS)"
                    >
                      <ion-button
                        type="button"
                        color="primary"
                        fill="solid"
                        size="default"
                        (click)="clientChat(request.requestInfo.clientId,provider.basicProfile.userId,request.requestInfo.requestId,request.requestInfo.serviceName,provider.requestInfoProvider.providerId)"
                      >
                        Chat
                        <ion-icon name="chatbubbles"></ion-icon>
                      </ion-button>
                    </p>

                    <p>
                      <app-star-rating
                        activeIcon="star"
                        defaultIcon="star-outline"
                        activeColor="#A9A9A9"
                        defaultColor="#808080"
                        readonly="true"
                        rating="provider.basicProfile.rating"
                        fontSize="32px"
                        (ratingChanged)="ratingChange($event)"
                      >
                      </app-star-rating>
                    </p>
                    <p>
                      <sub
                        >{{provider.basicProfile.reviews}} Reviews
                        {{provider.basicProfile.completed}}C/{{provider.basicProfile.requests}}R</sub
                      >
                    </p>

                    <p
                      class="ui-g-4"
                      *ngIf="( provider.requestInfoProvider.serviceRequestProviderStatus.statusNum ==providerRequestSequence.CONST_REVIEW_RATE && request.requestInfo.serviceRequestStatus?.statusNum != clientRequestSequence.CONST_REQUEST_REPRATE)"
                    >
                      <ion-button
                        type="button"
                        color="primary"
                        fill="solid"
                        size="default"
                        (click)="viewRequesRating($event,provider.requestInfoProvider.requestId,provider.requestInfoProvider.providerId,'')"
                      >
                        View Rating
                      </ion-button>
                    </p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-3 class="listing-item">
            <div *ngIf="provider.requestInfoProvider.providerId != null">
              <ion-row class="image-row">
                <ion-col size="12">
                  <a class="image-anchor">
                    <ion-avatar slot="start">
                      <img
                        sizes="100px"
                        class="item-picture"
                        src="{{getPicture(provider?.providerChat?.photoUrl) || defaultPicture}}"
                        alt="Avatar"
                      />
                    </ion-avatar>
                  </a>
                </ion-col>
              </ion-row>

              <ion-row class="description-row">
                <ion-col size="12" class="details-col">
                  <ion-row class="details-wrapper">
                    <ion-col>
                      <p class="item-address">
                        <ion-text
                          >Provider: {{provider.providerChat.name}}</ion-text
                        >
                      </p>
                      <p class="item-address">
                        <ion-text
                          >Reg Date: {{provider.basicProfile.registrationDate |
                          date:'MMM d yyyy'}}
                        </ion-text>
                      </p>

                      <div
                        class="ui-g-4"
                        *ngIf="(provider.requestInfoProvider.serviceRequestProviderStatus.statusNum >=providerRequestSequence.CONST_CHAT_IN_PROGRESS) && (provider.requestInfoProvider.serviceRequestProviderStatus.statusNum < providerRequestSequence.CONST_REQUEST_AWARDED) && ( request.requestInfo.serviceRequestStatus?.statusNum != clientRequestSequence.CONST_REQUEST_AWARDED)"
                      >
                        <ion-button
                          type="button"
                          color="primary"
                          fill="solid"
                          size="default"
                          (click)="initAwardDialogBox(request,provider)"
                        >
                          Award
                          <ion-icon name="trophy"></ion-icon>
                        </ion-button>
                      </div>

                      <div
                        class="ui-g-4"
                        *ngIf="(provider.requestInfoProvider.serviceRequestProviderStatus.statusNum==providerRequestSequence.CONST_SUBMIT_CONTRACT  && request.requestInfo.serviceRequestStatus?.statusNum == clientRequestSequence.CONST_REQUEST_AWARDED)"
                      >
                        <ion-button
                          type="button"
                          color="primary"
                          fill="solid"
                          size="default"
                          (click)="signContractDialogBox(request,provider)"
                        >
                          SIGN
                          <ion-icon name="trophy"></ion-icon>
                        </ion-button>
                      </div>

                      <div
                        class="ui-g-4"
                        *ngIf="(request.requestInfo.serviceRequestStatus?.statusNum == clientRequestSequence.CONST_REQUEST_SIGN)"
                      >
                        <ion-button
                          type="button"
                          color="primary"
                          fill="solid"
                          size="default"
                          (click)="workInProgressDialogBox(request,provider)"
                        >
                          Work In Progress
                          <ion-icon name="trophy"></ion-icon>
                        </ion-button>
                      </div>

                      <div
                        class="ui-g-4"
                        *ngIf="(request.requestInfo.serviceRequestStatus?.statusNum==clientRequestSequence.CONST_WORK_IN_PROGRESS)"
                      >
                        <ion-button
                          type="button"
                          color="primary"
                          fill="solid"
                          size="default"
                          (click)="completedDialogBox(request,provider)"
                        >
                          Completed
                          <ion-icon name="trophy"></ion-icon>
                        </ion-button>
                      </div>
                    </ion-col>
                  </ion-row>

                  <ion-row class="details-wrapper">
                    <ion-col>
                      <p class="item-address">
                        <ion-text color="danger">
                          Rating: {{provider.basicProfile.rating}}</ion-text
                        >
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
  </div>

  <div *ngIf="isChat">
    <ng-chat
      #ngChatInstance
      *ngIf="isLoggedIn"
      [adapter]="adapter"
      [groupAdapter]="groupAdapter"
      [searchEnabled]="false"
      [title]="title"
      [userId]="userId"
      [isCollapsed]="isCollapsed"
      [historyEnabled]="true"
      [historyPageSize]="4"
      [hideFriendsList]="hideFriendsList"
      [theme]="currentTheme"
      [audioEnabled]="audioEnabled"
      [browserNotificationsEnabled]="browserNotificationsEnabled"
      [isViewportOnMobileEnabled]="true"
      [hideFriendsListOnUnsupportedViewport]="false"
      (onMessagesSeen)="messageSeen($event)"
      (onParticipantClicked)="onParticipantClicked($event)"
      (onParticipantChatOpened)="onParticipantChatOpened($event)"
      (onParticipantChatClosed)="onParticipantChatClosed($event)"
    >
    </ng-chat>
  </div>
</ion-content>
