<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title> About Us </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="legal-content">
  <ion-row class="user-stats-section">
    <ion-col size-md="4" size-sm="6" size-xs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title>OUR MISSION</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            Trust is gold: Provide the platform for clients to find trusted
            service providers with the best price value proposition and service
            providers to find trusting clients to be their brand ambassodors
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-md="4" size-sm="6" size-xs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title>OUR VISION</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            Our vision is to be the world’s most trusted company, to provide the
            platform where people seek and find, ask for anything and have
            providers deliver the thing in a safe and transparent manner
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-md="4" size-sm="6" size-xs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Why Choose US</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            We allow startups and investors to find their match. 
            We match individuals looking for help with those looking to help
            Our services are cheaper and faster than the alternative
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
