<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelModal()">
        <ion-icon name="close"></ion-icon>
        Cancel
      </ion-button>
      <ion-button (click)="dismissModal()" [disabled]="!rForm.valid">
        <ion-icon name="checkmark"></ion-icon>
        Submit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">
    <ion-card-content>
      <form [formGroup]="rForm">
        <div *ngIf="currentRequest != null">
          <ion-row>
            <div class="col col-center text-center">
              <h4 ion-text color="goldgreen">
                Process Request ID: {{ currentRequest.requestInfo.requestId }}
              </h4>
            </div>
          </ion-row>

          <ion-row>
            <p>
              <a ion-text>{{ currentRequest.requestInfo.selectedRate }}</a>
              <a ion-text> {{ currentRequest.requestInfo.amountRange }}</a>
              <a ion-text> {{ currentRequest.requestInfo.currency }}</a>
            </p>
          </ion-row>
          <ion-row>
            <ion-col>
              <label style="display: block; margin-bottom: 4px"
                >Amount : {{ currentRequest.requestInfo.currency }}</label
              >
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-input
                  class="form-input"
                  formControlName="amount"
                  placeholder="amount"
                  type="number"
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-grid>
            <!--   <ion-row>
              <ion-col>
                <ion-label>Estimated start date</ion-label>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-input
                    formControlName="sdate"
                    type="date"
                    [value]="startDate"
                  >
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-label>Estimated end date</ion-label>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-input
                    formControlName="edate"
                    type="date"
                    [value]="endDate"
                  >
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row> -->

            <div *ngIf="displayCE">
              <hr />
              <ion-row>
                <ion-col>
                  <ion-label>Contract Expiration date *</ion-label>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-input
                      formControlName="ceDate"
                      type="datetime-local"
                      [value]="currentCEDate"
                      [min]="currentCEDate"
                    >
                    </ion-input>
                  </ion-item>
                  <div class="error-container">
                    <div *ngFor="let validation of validationMessages.ceDate">
                      <div
                        class="error-message"
                        *ngIf="
                          rForm.get('ceDate').hasError(validation.type) &&
                          (rForm.get('ceDate').dirty ||
                            rForm.get('ceDate').touched)
                        "
                      >
                        <ion-icon name="information-circle-outline"></ion-icon>
                        <span>{{ validation.message }}</span>
                      </div>
                    </div>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-label>Sign Name *</ion-label>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-input formControlName="nameSign" type="text">
                    </ion-input>
                  </ion-item>
                  <div class="error-container">
                    <div *ngFor="let validation of validationMessages.nameSign">
                      <div
                        class="error-message"
                        *ngIf="
                          rForm.get('nameSign').hasError(validation.type) &&
                          (rForm.get('nameSign').dirty ||
                            rForm.get('nameSign').touched)
                        "
                      >
                        <ion-icon name="information-circle-outline"></ion-icon>
                        <span>{{ validation.message }}</span>
                      </div>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </div>

            <ion-row>
              <ion-col>
                <ion-label>Comment or note</ion-label>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-textarea
                    rows="4"
                    cols="50"
                    formControlName="comment"
                    placeholder="comment"
                  ></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
