<app-header ptitle="common.changepwd"></app-header>

<ion-content padding class="notifications-content">
  <ion-item-group>
    <ion-item-divider sticky>
      <ion-label>Enter Password Details</ion-label>
    </ion-item-divider>
  </ion-item-group>

  <form [formGroup]="changePasswordForm" (ngSubmit)="save()">
    <ion-list class="inputs-list" lines="full">
      

      <ion-item class="input-item">
        <ion-label position="floating">Current Password</ion-label>
        <ion-input
          type="password"
          formControlName="oldPassword"
          name="oldPassword"
          placeholder="Enter current password"
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container
          *ngFor="let validation of validation_messages.oldPassword"
        >
          <div
            class="error-message"
            *ngIf="changePasswordForm.get('oldPassword').hasError(validation.type) && (changePasswordForm.get('oldPassword').dirty || changePasswordForm.get('oldPassword').touched)"
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <div formGroupName="matching_passwords">
        <ion-item class="input-item">
          <ion-label position="floating">New Password</ion-label>
          <ion-input
            type="password"
            placeholder="Password"
            formControlName="password"
            placeholder="Enter current password"
          ></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div
              class="error-message"
              *ngIf="changePasswordForm.get('matching_passwords').get('password').hasError(validation.type) && (changePasswordForm.get('matching_passwords').get('password').dirty || changePasswordForm.get('matching_passwords').get('password').touched)"
            >
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

        <ion-item class="input-item">
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input
            type="password"
            placeholder="Confirm Password"
            formControlName="confirm_password"
            placeholder="Confirm new password"
          ></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container
            *ngFor="let validation of validation_messages.confirm_password"
          >
            <div
              class="error-message"
              *ngIf="changePasswordForm.get('matching_passwords').get('confirm_password').hasError(validation.type) && (changePasswordForm.get('matching_passwords').get('confirm_password').dirty || changePasswordForm.get('matching_passwords').get('confirm_password').touched)"
            >
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="error-container">
        <ng-container
          *ngFor="let validation of validation_messages.matching_passwords"
        >
          <div
            class="error-message"
            *ngIf="changePasswordForm.get('matching_passwords').hasError(validation.type) && (changePasswordForm.get('matching_passwords').get('confirm_password').dirty || changePasswordForm.get('matching_passwords').get('confirm_password').touched)"
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>
    <ion-button
      icon-left
      [disabled]="!changePasswordForm.valid"
      (click)="save()"
    >
      <ion-icon name="checkmark"></ion-icon>
      Save
    </ion-button>
    <ion-button icon-left color="light" (click)="cancel()">
      <ion-icon name="close"></ion-icon>
      Cancel
    </ion-button>
  </form>
</ion-content>
